<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Fixture Formatter</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
